@page
@{
}


<h1>@ViewBag.title</h1>


<form asp-action="Create" asp-controller="Watchlist" method="post"> 

    <select name="playlist">
        @foreach (var playlist in ViewBag.playlist)
        {
            <option value="@playlist.Id">@playlist.Title</option>
        }
    </select>
    <input type="text" name="movie_title" value="@ViewBag.title"/>
    <input type="text" name="poster_path" value="@ViewBag.poster" class="hidden"/>


    <input type="submit" class="button"/>
</form>